{% extends "base.html" %}

{% block content %}
  <div class="container-fluid d-flex flex-column">
    <div class="row">
      <div class="col-10 col-sm-12">
        <h1>Upload your Data</h1>

        <form action="{{ url_for('main.upload') }}" method="post" class="upload-form">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <div class="step">
            <p>Step 1: Enter your Pokémon Showdown username</p>
            <input type="text" name="username" placeholder="Your Showdown username" required>
          </div>
          <div class="step">
            <p>Step 2: Enter your Pokémon Showdown replays</p>
            <div class="table-container">
              <table class="replays-table">
                <tbody>
                {% for i in range(40) %}
                <tr>
                  <td>
                    <input type="url" name="replay_{{ i }}" placeholder="https://replay.pokemonshowdown.com/...">
                  </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="step">
            <p>Step 4: Submit to visualise your performance!</p>
            <button type="submit" class="generate-btn">Generate Report</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

